body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: black;
    padding: 20px 0;
}

.imgheader {
    width: 40%;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 220px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #53c7b7;
    text-decoration: underline;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.titulo-principal li {
    display: inline-block;
}

.principal p {
    margin: 0 0 1em;
}

.logo-nike {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

footer {
    text-align: center;
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20210207/pngtree-simple-black-solid-color-background-image_556932.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}


.principal li {
    line-height: 1.5;
}

.map {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 2em auto;
}
